@import '../../styles/config';

.wrapper {
  padding: spacing(larger);
}

.header {
  margin-bottom: rem(24);

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.typeTitle {
  float: left;
  font-size: rem(90);
  font-weight: 600;
  line-height: 1.2em;
}

.typeText {
  line-height: rem(27);
}

.score {
  float: right;

  * {
    display: inline-block;
    padding: spacing(small);
    font-size: rem(21);
    font-weight: 600;
    margin-top: rem(63);
    line-height: 1.2em;
  }
}
